---
- name: Deploy Cup
  include_role:
    name: docker
  vars:
    name: cup
    command: serve
    networks:
      - name: homelab
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    labels:
      traefik.enable: "true"
      traefik.http.routers.cup.rule: Host(`cup.fntz.net`)
      traefik.http.routers.cup.entrypoints: webSecure
      traefik.http.routers.cup.tls.certresolver: letsencrypt
      traefik.http.services.cup.loadbalancer.server.port: "8000"
    image:
      name: ghcr.io/sergi0g/cup
      tag: latest
