---
- name: Pull latest Cup Docker Image
  docker_image:
    name: ghcr.io/sergi0g/cup
    tag: latest
    source: pull

- name: Create Cup Docker Container
  docker_container:
    name: Cup
    image: ghcr.io/sergi0g/cup
    command: serve
    restart_policy: unless-stopped
    recreate: true
    networks:
      - name: homelab
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    labels:
      traefik.enable: "true"
      traefik.http.routers.cup.rule: Host(`cup.fntz.net`)
      traefik.http.routers.cup.entrypoints: webSecure
      traefik.http.routers.cup.tls.certresolver: letsencrypt
      traefik.http.services.cup.loadbalancer.server.port: "8000"
