---
- name: Deploy Ersatz
  include_role:
    name: docker
  vars:
    name: ersatztv
    directories:
      - "{{ data_dir }}/ersatz"
    image:
      name: ghcr.io/ersatztv/ersatztv
      tag: latest
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
    mounts:
      - type: tmpfs
        target: /transcode
        tmpfs_size: 5G
    volumes:
      - "{{ data_dir }}/ersatz:/config"
      - "{{ media_path }}:{{ media_path }}:ro"
    published_ports:
      - "8409:8409"
