---
- name: Pull latest Excalidraw Docker Image
  docker_image:
    name: excalidraw/excalidraw
    tag: latest
    source: pull

- name: Create Excalidraw Docker Container
  docker_container:
    name: excalidraw
    image: excalidraw/excalidraw
    restart_policy: unless-stopped
    recreate: true
    networks:
      - name: homelab
    labels:
      traefik.enable: "true"
      traefik.http.routers.draw.rule: Host(`draw.fntz.net`)
      traefik.http.routers.draw.entrypoints: webSecure
      traefik.http.routers.draw.tls.certresolver: letsencrypt
      traefik.http.services.draw.loadbalancer.server.port: "80"
