---
- name: Deploy Excalidraw
  include_role:
    name: docker
  vars:
    name: excalidraw
    image:
      name: excalidraw/excalidraw
      tag: latest
    networks:
      - name: homelab
    labels:
      traefik.enable: "true"
      traefik.http.routers.draw.rule: Host(`draw.fntz.net`)
      traefik.http.routers.draw.entrypoints: webSecure
      traefik.http.routers.draw.tls.certresolver: letsencrypt
      traefik.http.services.draw.loadbalancer.server.port: "80"
