---
- name: Deploy Frigate
  include_role:
    name: docker
  vars:
    name: frigate
    directories:
      - "{{ data_dir }}/frigate"
    image:
      name: ghcr.io/blakeblackshear/frigate
      tag: stable
    privileged: true
    published_ports:
      - "5000:5000"
      - "8555:8555/tcp"
      - "8555:8555/udp"
      - "8554:8554"
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
    networks:
      - name: "{{ docker_network_name }}"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - "{{ data_dir }}/frigate:/config"
      - "{{ FRIGATE_RECORDINGS_PATH }}:/media/frigate"
    labels:
      traefik.enable: "true"
      traefik.http.routers.frigate.rule: Host(`nvr.fntz.net`)
      traefik.http.routers.frigate.entrypoints: webSecure
      traefik.http.routers.frigate.tls.certresolver: letsencrypt
      traefik.http.services.frigate.loadbalancer.server.port: "5000"
