---
- name: Create folder structure
  file:
    path: "{{ item }}"
    state: directory
  with_items:
    - "{{ data_dir }}/immich"
    - "{{ data_dir }}/immich/model-cache"
    - "{{ data_dir }}/immich/db"

- name: Pull latest Immich Server Docker Image
  docker_image:
    name: ghcr.io/immich-app/immich-server
    tag: v2.1.0
    source: pull

- name: Create Immich Redis Docker Container
  docker_container:
    name: immich_redis
    image: docker.io/valkey/valkey:8-bookworm@sha256:fea8b3e67b15729d4bb70589eb03367bab9ad1ee89c876f54327fc7c6e618571
    restart_policy: unless-stopped
    recreate: true
    networks:
      - name: immich

- name: Create Immich DB Docker Container
  docker_container:
    name: immich_postgres
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
    restart_policy: unless-stopped
    recreate: true
    volumes:
      - "{{ data_dir }}/immich/db:/var/lib/postgresql/data"
    env:
      POSTGRES_PASSWORD: "{{ IMMICH_DB_PASSWORD }}"
      POSTGRES_USER: "{{ IMMICH_DB_USERNAME }}"
      POSTGRES_DB: "{{ IMMICH_DB_DATABASE_NAME }}"
      POSTGRES_INITDB_ARGS: "--data-checksums"
    networks:
      - name: immich

- name: Create Immich Server Docker Container
  docker_container:
    name: immich_server
    image: ghcr.io/immich-app/immich-server:v2.1.0
    restart_policy: unless-stopped
    recreate: true
    networks:
      - name: homelab
      - name: immich
    volumes:
      - "{{ IMMICH_UPLOAD_LOCATION }}:/usr/src/app/upload"
      - "/etc/localtime:/etc/localtime:ro"
    env:
      DB_HOSTNAME: "immich_postgres"
      REDIS_HOSTNAME: "immich_redis"
      DB_PASSWORD: "{{ IMMICH_DB_PASSWORD }}"
      DB_USERNAME: "{{ IMMICH_DB_USERNAME }}"
      DB_DATABASE_NAME: "{{ IMMICH_DB_DATABASE_NAME }}"
    labels:
      traefik.enable: "true"
      traefik.http.routers.img.rule: Host(`img.fntz.net`)
      traefik.http.routers.img.entrypoints: webSecure
      traefik.http.routers.img.tls.certresolver: letsencrypt
      traefik.http.services.img.loadbalancer.server.port: "2283"
