---
- name: Deploy MariaDB Database
  include_role:
    name: docker
  vars:
    name: mariadb
    directories:
      - "{{ data_dir }}/db"
    image:
      name: mariadb
      tag: latest
    published_ports:
      - "3306:3306"
    volumes:
      - "{{ data_dir }}/db:/var/lib/mysql"
      - "{{ data_dir }}/db/etc:/etc/mysql"
    env:
      MYSQL_USER: "root"
      MYSQL_ROOT_PASSWORD: "{{ GLOBAL_POSTGRES_PASSWORD }}"

- name: Deploy PHPMyAdmin
  include_role:
    name: docker
  vars:
    name: phpmyadmin
    image:
      name: phpmyadmin
      tag: latest
    networks:
      - name: "{{ docker_network_name }}"
    labels:
      traefik.enable: "true"
      traefik.http.routers.pma.rule: Host(`pma.landite.games`)
      traefik.http.routers.pma.entrypoints: webSecure
      traefik.http.routers.pma.tls.certresolver: letsencrypt
      traefik.http.services.pma.loadbalancer.server.port: "80"
