---
- name: Deploy MariaDB Database
  include_role:
    name: docker
  vars:
    name: mariadb
    directories:
      - "{{ data_dir }}/db"
    image:
      name: mariadb
      tag: latest
    published_ports:
      - "3306:3306"
    volumes:
      - "{{ data_dir }}/db:/var/lib/mysql"
      - "{{ data_dir }}/db/etc:/etc/mysql"
    env:
      MYSQL_USER: "root"
      MYSQL_ROOT_PASSWORD: "{{ GLOBAL_POSTGRES_PASSWORD }}"
