---
- name: Create folder structure
  file:
    path: "{{ item }}"
    state: directory
  with_items:
    - "{{ data_dir }}/nfl-proxy"

- name: "Clone latest NFL-Proxy"
  git:
    repo: "git@git.alexav.gg:alex/nfl-proxy.git"
    dest: "{{ data_dir }}/nfl-proxy"

- name: "Stop & remove existing PM2 containers"
  ignore_errors: yes
  shell: |
    /home/alex/.nvm/versions/node/v24.4.0/bin/pm2 delete "nfl-proxy"

- name: "Start new PM2 container"
  args:
    chdir: "{{ data_dir }}/nfl-proxy"
  shell: |
    /home/alex/.nvm/versions/node/v24.4.0/bin/pm2 start --name="nfl-proxy" "venv/bin/activate && venv/bin/python main.py"
