---
- name: Create folder structure
  file:
    path: "{{ item }}"
    state: directory
  with_items:
    - "{{ data_dir }}/obsidian"
    - "{{ data_dir }}/obsidian/data"
    - "{{ data_dir }}/obsidian/etc"

- name: Pull Docker Image
  docker_image:
    name: couchdb
    tag: latest
    source: pull

- name: Create Docker Container
  docker_container:
    name: couchdb
    image: couchdb:latest
    recreate: true
    restart_policy: unless-stopped
    volumes:
      - "{{ data_dir }}/obsidian/data:/opt/couchdb/data"
      - "{{ data_dir }}/obsidian/etc:/opt/couchdb/etc/local.d"
    env:
      COUCHDB_USER: "{{ COUCHDB_USER }}"
      COUCHDB_PASSWORD: "{{ COUCHDB_PASSWORD }}"
    labels:
      traefik.enable: "true"
      traefik.http.routers.couch.rule: Host(`couch.fntz.net`)
      traefik.http.routers.couch.entrypoints: webSecure
      traefik.http.routers.couch.tls.certresolver: letsencrypt
      traefik.http.services.couch.loadbalancer.server.port: "5984"
