---
- name: Deploy Owncloud Database
  include_role:
    name: docker
  vars:
    name: owncloud_database
    image:
      name: mariadb
      tag: latest
    directories:
      - "{{ data_dir }}/owncloud"
      - "{{ data_dir }}/owncloud/data"
      - "{{ data_dir }}/owncloud/db"
      - "{{ data_dir }}/owncloud/redis"
    network_name: "owncloud"
    networks:
      - name: owncloud
    volumes:
      - "{{ data_dir }}/owncloud/db:/var/lib/mysql"
    env:
      MYSQL_ROOT_PASSWORD: "{{ OWNCLOUD_DB_PASSWORD }}"
      MYSQL_DATABASE: "owncloud"
      MYSQL_USER: "owncloud"
      MYSQL_PASSWORD: "{{ OWNCLOUD_DB_PASSWORD }}"
      MARIADB_AUTO_UPGRADE: "1"
    command: "--max-allowed-packet=128M --innodb-log-file-size=64M"
    healthcheck:
      test: "CMD mysqladmin ping -u root --password={{ OWNCLOUD_DB_PASSWORD }}"
      interval: 10s
      timeout: 5s
      retries: 5

- name: Deploy Owncloud Redis
  include_role:
    name: docker
  vars:
    name: owncloud_redis
    image:
      name: redis
      tag: latest
    networks:
      - name: owncloud
    command: "--databases 1"
    healthcheck:
      test: CMD redis-cli ping
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - "{{ data_dir }}/owncloud/redis:/data"

- name: Deploy Owncloud
  include_role:
    name: docker
  vars:
    name: owncloud
    image:
      name: owncloud/server
      tag: 10.16
    networks:
      - name: "{{ docker_network_name }}"
      - name: owncloud
    volumes:
      - "{{ data_dir }}/owncloud/data:/mnt/data"
    env:
      OWNCLOUD_DOMAIN: "{{ OWNCLOUD_APP_URL }}"
      OWNCLOUD_TRUSTED_DOMAINS: "{{ OWNCLOUD_APP_URL }}"
      OWNCLOUD_DB_TYPE: "mysql"
      OWNCLOUD_DB_NAME: "owncloud"
      OWNCLOUD_DB_USERNAME: "owncloud"
      OWNCLOUD_DB_PASSWORD: "{{ OWNCLOUD_DB_PASSWORD }}"
      OWNCLOUD_DB_HOST: "oc_database"
      OWNCLOUD_ADMIN_USERNAME: "{{ OWNCLOUD_ADMIN_USERNAME }}"
      OWNCLOUD_ADMIN_PASSWORD: "{{ OWNCLOUD_ADMIN_PASSWORD }}"
      OWNCLOUD_MYSQL_UTF8MB4: "true"
      OWNCLOUD_REDIS_ENBALED: "true"
      OWNCLOUD_REDIS_HOST: "oc_redis"
    labels:
      traefik.enable: "true"
      traefik.http.routers.nc.rule: Host(`{{ OWNCLOUD_APP_URL }}`)
      traefik.http.routers.nc.entrypoints: webSecure
      traefik.http.routers.nc.tls.certresolver: letsencrypt
      traefik.http.services.nc.loadbalancer.server.port: "8080"
      traefik.http.middlewares.limit.buffering.maxRequestBodyBytes: "1073741824"
      traefik.http.routers.nc.middlewares: "limit"
