---
- name: Deploy Pelican Panel
  include_role:
    name: docker
  vars:
    name: Pelican
    directories:
      - "{{ data_dir }}/pelican"
    image:
      name: ghcr.io/pelican-dev/panel
      tag: latest
    volumes:
      - "{{ data_dir }}/pelican/app:/pelican-data"
      - "{{ data_dir }}/pelican/logs:/var/www/html/storage/logs"
      - "{{ data_dir }}/pelican/Caddyfile:/etc/caddy/Caddyfile"
    etc_hosts:
      - "host.docker.internal:host-gateway"
    env:
      XDG_DATA_HOME: /pelican-data
      APP_URL: "https://{{ PELICAN_APP_URL }}"
      ADMIN_EMAIL: "{{ PELICAN_EMAIL }}"
      PUID: "{{ PUID }}"
      PGID: "{{ PGID }}"
    labels:
      traefik.enable: "true"
      traefik.http.routers.panel.rule: Host(`panel.landite.games`)
      traefik.http.routers.panel.entrypoints: webSecure
      traefik.http.routers.panel.tls.certresolver: letsencrypt
      traefik.http.services.panel.loadbalancer.server.port: "80"
