---
- name: Create folder structure
  file:
    path: "{{ item }}"
    state: directory
  with_items:
    - "{{ data_dir }}/qbittorrent"

- name: Pull latest QBittorrent Docker Image
  docker_image:
    name: lscr.io/linuxserver/qbittorrent
    tag: latest
    source: pull

- name: Deploy QBittorrent Docker Container
  docker_container:
    name: qbittorrent
    image: lscr.io/linuxserver/qbittorrent
    network_mode: "container:gluetun"
    env:
      PUID: "{{ PUID }}"
      PGID: "{{ PGID }}"
      TZ: "{{ TZ }}"
      WEBUI_PORT: "8090"
      TORRENTING_PORT: "6861"
