---
- name: Deploy Storage API
  include_role:
    name: docker
  vars:
    name: storage-api
    directories:
      - "{{ data_dir }}/storage-api"
      - "{{ data_dir }}/storage-api/app"
      - "{{ data_dir }}/storage-api/files"
    image:
      name: storage-api
      tag: latest
    build:
      git:
        repo: git@git.alexav.gg:alex/storage-api.git
        dest: "{{ data_dir }}/storage-api/app"
    networks:
      - name: "{{ docker_network_name }}"
    volumes:
      - "{{ data_dir }}/storage-api/files:/app/files"
    env:
      TZ: "{{ TZ }}"
      TOKEN: "{{ API_ADMIN_KEY }}"
    labels:
      traefik.enable: "true"
      traefik.http.routers.storage.rule: Host(`storage.alexav.gg`)
      traefik.http.routers.storage.entrypoints: webSecure
      traefik.http.routers.storage.tls.certresolver: letsencrypt
      traefik.http.services.storage.loadbalancer.server.port: "3001"
