- name: Create folder structure
  file:
    path: "{{ item }}"
  with_items:
    - "{{ data_dir }}/syncthing"

- name: Deploy Syncthing Docker Container
  docker_container:
    name: syncthing
    image: lscr.io/linuxserver/syncthing:latest
    recreate: true
    restart_policy: unless-stopped
    networks:
      - name: homelab
    env:
      PUID: "{{ PUID }}"
      PGID: "{{ PGID }}"
      TZ: "{{ TZ }}"
    volumes:
      - "{{ data_dir }}/syncthing:/config"
      - "{{ SYNCTHING_DATA_PATH }}:/data"
