[Unit]
Description=Gitea Actions runner
Documentation=https://gitea.com/gitea/act_runner
After=docker.service

[Service]
ExecStart={{ data_dir }}/gitea/act_runner daemon --instance {{ GITEA_INSTANCE_URL }} --token {{ GITEA_RUNNER_REGISTRATION_TOKEN }} --name {{ GITEA_RUNNER_NAME }} --labels {{ GITEA_RUNNER_LABELS }}
ExecReload=/bin/kill -s HUP $MAINPID
WorkingDirectory={{ data_dir }}/gitea
TimeoutSec=0
RestartSec=10
Restart=always
User=act_runner

[Install]
WantedBy=multi-user.target