[Unit]
Description=Gitea Actions runner
Documentation=https://gitea.com/gitea/act_runner
After=docker.service

[Service]
ExecStart={{ data_dir }}/gitea/act_runner daemon --config={{ data_dir }}/gitea/config.yml
ExecReload=/bin/kill -s HUP $MAINPID
WorkingDirectory={{ data_dir }}/gitea
TimeoutSec=0
RestartSec=10
Restart=always
User=alex

[Install]
WantedBy=multi-user.target