log:
  level: info

runner:
  file: .runner
  capacity: 1
  timeout: 3h
  shutdown_timeout: 0s
  insecure: false
  fetch_timeout: 5s
  fetch_interval: 2s
  labels:
    - "runner:host"

host:
  workdir_parent: "{{ data_dir }}/gitea/job"
