[Unit]
Description=FiveM Server
Documentation=https://git.alexav.gg/alex/homelab

[Service]
Type=simple
ExecStart={{data_dir}}/fivem/server/run.sh +exec server.cfg
ExecReload=/bin/kill -s HUP $MAINPID
WorkingDirectory={{ data_dir }}/fivem/server-data
TimeoutSec=30
RestartSec=30
Restart=always
User=root

[Install]
WantedBy=multi-user.target