---
- name: Create folder structure
  file:
    path: "{{ item }}"
    state: directory
  with_items: "{{ directories }}"
  when: directories is defined

- name: Clone repository
  git:
    repo: "{{ build.git.repo }}"
    dest: "{{ build.git.dest }}"
  when: build is defined

- name: Build Docker Image
  docker_image:
    name: "{{ image.name }}"
    tag: "{{ image.tag }}"
    build:
      nocache: true
      path: "{{ build.git.dest }}"
      dockerfile: Dockerfile
    source: build
    force_source: true
    state: present
  when: build is defined

- name: Create Docker Network
  docker_network:
    name: "{{ network_name }}"
  when: network_name is defined

- name: Create Docker Container
  docker_container:
    name: "{{ name }}"
    recreate: true
    restart_policy: unless-stopped
    pull: yes
    published_ports: "{{ published_ports | default(omit) }}"
    network_mode: "{{ network_mode | default(omit) }}"
    image: "{{ image.name }}:{{ image.tag }}"
    command: "{{ command | default(omit) }}"
    networks: "{{ networks }}"
    volumes: "{{ volumes | default(omit) }}"
    env: "{{ env | default(omit) }}"
    labels: "{{ labels | default(omit) }}"
    healthcheck: "{{ healthcheck | default(omit) }}"
    devices: "{{ devices | default(omit) }}"
    mounts: "{{ mounts | default(omit) }}"
