http:
  middlewares:
    tinyauth:
      forwardauth:
        address: http://tinyauth:3000/api/auth/traefik

  routers:
    plex:
      rule: "Host(`tv.fntz.net`)"
      service: plex
      entryPoints:  
        - webSecure
      tls:
        certResolver: letsencrypt
    jtraefik:
      rule: "Host(`traefik-jackson.fntz.net`)"
      service: jtraefik
      entryPoints:
        - webSecure
      tls:
        certResolver: letsencrypt
    traefik:
      rule: "Host(`traefik.fntz.net`)"
      service: traefik
      entryPoints:
        - webSecure
      tls:
        certResolver: letsencrypt
    nflproxy:
      rule: "Host(`nfl.fntz.net`)"
      service: nflproxy
      entryPoints:
        - webSecure
      tls:
        certResolver: letsencrypt
    nvr:
      rule: "Host(`nvr.fntz.net`)"
      service: nvr
      middlewares: tinyauth
      entryPoints:
        - webSecure
      tls:
        certResolver: letsencrypt
    iptv:
      rule: "Host(`iptv.fntz.net`)"
      service: iptv
      entryPoints:
        - webSecure
      tls:
        certResolver: letsencrypt
    wings:
      rule: "Host(`wings.fntz.net`)"
      service: wings
      entryPoints:
        - webSecure
      tls:
        certResolver: letsencrypt
    
  services:
    plex:
      loadBalancer:
        servers:
          - url: "http://172.16.0.29:32400"
    jtraefik:
      loadBalancer:
        servers:
          - url: "http://jackson:8080/"
    traefik:
      loadBalancer:
        servers:
          - url: "http://jade:8080/"
    nflproxy:
      loadBalancer:
        servers:
          - url: "http://jade:5000/"
    nvr:
      loadBalancer:
        servers:
          - url: "http://172.16.0.29:5000/"
    iptv:
      loadBalancer:
        servers:
          - url: "http://nas:8409/"
    wings:
      loadBalancer:
        servers:
          - url: "http://nas:8090/"