http:
  middlewares:
    landiteRedirect:
      redirectRegex:
        regex: ".*"
        replacement: "https://alexav.gg/?ref=landite"
        permanent: true

  routers:
    landite:
      rule: "Host(`landite.games`)"
      middlewares:
        - landiteRedirect
      service: noop@internal
      entryPoints:
        - webSecure
      tls:
        certResolver: letsencrypt