http:
  routers:
    wings:
      rule: "Host(`ash-1.landite.games`)"
      service: wings
      entryPoints:  
        - webSecure
      tls:
        certResolver: letsencrypt
    
  services:
    wings:
      loadBalancer:
        servers:
          - url: "http://5.161.219.50:8090"