# caddy
CADDY_CLOUDFLARE_TOKEN:

caddy_snippets:
  tinyauth_forwarder:
    - "forward_auth tinyauth:3000 {"
    - "  uri /api/auth/caddy"
    - "}"

caddy_sites:
  - domains:
      - "domain.net"
      - "*.domain.net"
    tls:
      dns:
        provider: cloudflare
        token: "{{ CADDY_CLOUDFLARE_TOKEN }}"
    matchers:
      - name: home
        type: host
        value: domain.net
      - name: code
        type: host
        value: code.domain.net
    handlers:
      - matcher: home
        reverse_proxy: glance:8080
      - matcher: code
        reverse_proxy: codeserver:8443
        import_tinyauth: true
      - respond 404
