---
- name: Create folder structure
  file:
    path: "{{ item }}"
    state: directory
  with_items:
    - "{{ data_dir }}/gitea"
    - "{{ data_dir }}/job"

- name: Check if Act Runner has been downloaded
  stat:
    path: "{{ data_dir }}/gitea/act_runner"
  register: act_runner

- name: Download Gitea Act Runner
  get_url:
    url: https://dl.gitea.com/act_runner/nightly/act_runner-nightly-linux-amd64
    dest: "{{ data_dir }}/gitea"
    mode: 0755
  when: not act_runner.stat.exists

- name: Check if Act Runner is a Systemd Service
  stat:
    path: "/etc/systemd/system/act_runner.service"
  register: act_runner_service

- name: Create Systemd Service
  become: yes
  template:
    src: act_runner.service.j2
    dest: "/etc/systemd/system/act_runner.service"
  when: not act_runner_service.stat.exists
- name: Enable Systemd Service
  become: yes
  command: systemctl enable act_runner.service
  when: not act_runner_service.stat.exists
- name: Start Systemd Service
  become: yes
  command: systemctl start act_runner.service
  when: not act_runner_service.stat.exists
